<div class="wrapper">
  <div class="side-bar">
    <%= render "shared/sidebar" %>
  </div>
  <div class="chat">
    <%= render "shared/header" %>
    <%= render "shared/score" %>
  </div>
</div>
      