<div class="chat-header">
  <div class="left-header pt-5 pl-4">
    <div class="d-flex">
      <div>
        <% if user_signed_in? %>
            <%= link_to "大会データ登録", new_game_path, class: "btn btn-secondary" %>
            <%= link_to "選手データ登録", new_athlete_path, class: "ml-4 btn btn-secondary" %>
        <% else %>
            <%= link_to "トップページ", root_path, class:"btn btn-success"%>
        <% end %>
      </div>
    </div>
  </div>
</div>