 <table class="table table-bordered m-4">
      <thead>
        <tr>
          <th scope="col">
            <button
              type="button"
              id="scorebtn"
              class="btn btn-primary w-10 mt-2"
            >
              計算
            </button>
          </th>
          <th scope="col">FX</th>
          <th scope="col">PH</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">テスト1</th>
          <td>
            <div class="score-group grid-container">
              <div class="total grid-item">
                Total
                <span class="output-score-total"></span>
              </div>
              <div class="d-score grid-item">
                <input
                  type="number"
                  step="0.1"
                  name="floor_score_d"
                  class="form-control input-socre-d"
                  placeholder="D-score"
                />
              </div>
              <div class="e-score grid-item">
                <input
                  type="number"
                  step="0.1"
                  name="floor_score_e"
                  class="form-control input-socre-e"
                  placeholder="E-score"
                />
              </div>
            </div>
          </td>
          <td>
            <div class="score-group grid-container">
              <div class="total grid-item">
                Total
                <span class="output-score-total"></span>
              </div>
              <div class="d-score grid-item">
                <input
                  type="number"
                  step="0.1"
                  name="pommel_score_d"
                  class="form-control input-socre-d"
                  placeholder="D-score"
                />
              </div>
              <div class="e-score grid-item">
                <input
                  type="number"
                  step="0.1"
                  name="pommel_score_e"
                  class="form-control input-socre-e"
                  placeholder="E-score"
                />
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>