
#error_explanation{
  display: flex;
  justify-content: center;
}

#error_explanation > h2{
  display: flex;
  justify-content: center;
}

#error_explanation h2 ul li{
  text-align: center;
}

.wrapper {
  display: flex;
  width:100%;
}

.sp-menu{
  margin-left: auto;
}

.sp-menu #open {
  font-size:32px;
  line-height:42px;
  cursor:pointer;
}

.side-bar {
  background-color: #253141;
  width: 240px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 30px;
  background-color: #2F3E51;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.score-nd{
  background-color: rgb(247, 247, 247) !important;
}

.header-name{
margin:auto
}
.header-name a{
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}

.games-top{
  height: 64px;
  padding:12px;
  background-color: #343a40;
}

.games-top p{
  text-align: center;
  font-size: 4vh;
  color:white;
}

.games::-webkit-scrollbar {
  display: none;
}

.games {
  /* height: calc(100vh - 100px); */
  overflow: scroll;
  margin-top: 20px;
}

.game-name a {
  text-decoration: none;
  color: white;
}

.chat {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat-header {
  background-color: whitesmoke;
  height: 127px;
  width:103%;
}

.header-title {
  color: #333;
  font-size: 24px;
  margin-top: 36px;
}

.header-button {
  margin-top: 40px;
}

.header-button a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  display: flex;
  justify-content: space-between;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
}

.chat .table th {
padding: 0.35rem !important;
text-align: center !important;
}

.chat .table td {
  width: 2px;
  height: 10%;
  padding: 0.25rem !important;
  vertical-align: bottom !important;
  border-top: 1px solid #dee2e6;
}

/* .main-table{
  border-collapse: collapse;
} */
/* 
.table-main{
  margin: auto;
  margin-top:50px;
  width: 20%;
}

.table-main td{
  width:100%;
} */

thead button{
  font-size:0.5rem;
}

.event_total{
  background-color: rgb(238, 232, 232);
}

 .table td{
  vertical-align: inherit !important;
}

.athlete_total{
  background-color: rgb(253, 194, 154);
}

.show_nd{
  background-color: rgb(241, 241, 241);
}

.score-box{
  width:16%;
  text-align: center;
}

.event-box{
  width:100%;
  background-color: rgb(66, 201, 235);
}

.dend-box{
  width: 100%;
}

.input-box{
  width:100%;
}

.total-box{
  width:100%;
  align-items: center;
  justify-content: center;
}


/* #貰い物 */
/* table {
  border-collapse: collapse;
  border-spacing: 0;
  border: none;
}

th,
td {
  vertical-align: top;
  border: 1px solid #000;
  padding: 0;
}
th {
  padding: 10px;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "d-score total"
    "e-score total";
  border: 3px solid yellow;
}

.grid-item {
  padding: 10px;
}

.total {
  grid-area: total;
  border-left: 1px solid #000;
}

.d-score {
  grid-area: d-score;
}

.e-score {
  grid-area: e-score;
  border-top: 1px solid #000;
}

.output-score-total {
  display: block;
} */